<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:cache="http://www.springframework.org/schema/cache"
	xmlns:p="http://www.springframework.org/schema/p"
	xmlns:task="http://www.springframework.org/schema/task"
	xmlns:util="http://www.springframework.org/schema/util"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/task http://www.springframework.org/schema/task/spring-task-4.0.xsd
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-4.0.xsd
		http://www.springframework.org/schema/cache http://www.springframework.org/schema/cache/spring-cache-4.0.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.0.xsd">
	
	
	<!-- Session management -->
	<bean id="sessionPreference" class="spring.mvc.angular.domain.SessionPreference" />
	
	<!-- Repositories Config -->
	<bean id="backendRepository" class="spring.mvc.angular.repository.impl.BackendFileRepositoryImpl" />
	
		
	<!-- Services Config -->
	<bean id="backendService" class="spring.mvc.angular.service.impl.BackendServiceImpl" />
	
	
	<!-- XPath Expression Engine for XML configuration -->	
	<bean id="xPathExpressionEngine" class="org.apache.commons.configuration.tree.xpath.XPathExpressionEngine" />
	
	
	<!-- Task Config -->
	<task:annotation-driven />
	
</beans>